@charset "UTF-8";
.grid-container {
  display: grid;
  background-color: white;
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  gap: 0.2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.header {
  justify-content: flex-start;
}

/* Horizonal: más columnas */
@media (min-aspect-ratio: 5/2) {
  .header {
    justify-content: flex-end;
  }
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
/* Vertical: más filas */
@media (max-aspect-ratio: 3/3.2) {
  .header {
    justify-content: center !important;
  }
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
.grid-item {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  aspect-ratio: 1/1;
}
.grid-item a {
  position: absolute;
  inset: 0;
  display: block;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}
.grid-item a.active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.grid-item a:first-child.active {
  z-index: 2;
}
.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform: translateZ(0);
}

@keyframes random-cycle {
  0%, 20% {
    opacity: 1;
    visibility: visible;
  }
  25%, 100% {
    opacity: 0;
    visibility: hidden;
  }
}
.grid-item.css-animated a {
  animation: random-cycle 15s infinite;
}
.grid-item.css-animated a:nth-child(1) {
  animation-delay: 0s;
}
.grid-item.css-animated a:nth-child(2) {
  animation-delay: 3s;
}
.grid-item.css-animated a:nth-child(3) {
  animation-delay: 6s;
}
.grid-item.css-animated a:nth-child(4) {
  animation-delay: 9s;
}
.grid-item.css-animated a:nth-child(5) {
  animation-delay: 12s;
}

.page-title {
  display: block;
  padding-block-start: 1rem;
  padding-inline: 1rem;
  width: 8rem;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: white;
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
}

.baguetteBox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.baguetteBox-button {
  background-color: transparent;
  border-radius: 100%;
}
.baguetteBox-button#close-button svg g {
  stroke: black;
  fill: white !important;
  stroke-width: 6px !important;
}
.baguetteBox-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.baguetteBox-button:hover g {
  stroke: white !important;
}
.baguetteBox-button #next-button,
.baguetteBox-button #previous-button {
  display: none;
}

#baguetteBox-overlay {
  background-color: white !important;
}

.slide--content {
  position: relative;
  /* Esto asegura que el contenido no se corte al moverse */
  overflow: hidden;
  /* Transición por defecto */
  transition: transform 0.5s ease-in-out;
  will-change: transform; /* Optimización de rendimiento */
}

.btn-pill {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ca321a;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
  height: 2rem;
  width: 2rem;
  margin: 2rem 2rem;
  border-radius: 100% 100%;
  font-size: 1rem;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  background: #fcfcfc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1, h2, h3, h4, h5 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #212121;
}

h1, .h1 {
  font-size: clamp(2.75rem, 8vw, 3.25rem);
}

h2, .h2 {
  font-size: clamp(1.5rem, 5vw, 1.8rem);
}

#main {
  position: fixed;
}

.header {
  height: 4rem;
  display: flex;
  position: absolute;
  color: #fff;
  width: 100%;
  z-index: 10;
}
.header a {
  color: white !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -2;
}

/* 404 page styles */
.four-oh-four {
  margin: 0 auto;
  width: 100%;
  max-width: 90ch;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
  background: inherit;
  min-height: 100vh;
}
.four-oh-four ul {
  padding-left: 0;
}
.four-oh-four ul li {
  padding: 12px 14px;
  margin: 10px auto;
}

/*# sourceMappingURL=style.css.map */
