// Bagüette Lightbox
.baguetteBox-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  
  .baguetteBox-button {
    background-color: transparent !important;
    border-radius: 100%;
  
    &#close-button svg {
      position: fixed;
      top: 1rem;
      right: 1rem;
      left: inherit;
      g {
        stroke: black;
        stroke-width: 2px !important;
      }
    }
  
    &:hover {
      background-color: transparent;
  
      g {
        stroke: white !important;
      }
    }
  
  }
  #next-button,
  #previous-button {
    display: none;
  }
  
  #baguetteBox-overlay {
    background-color: hsl(0deg 0% 100% / 81%) !important;
    background-image: url("../css/images/bg-lightbox.jpg");
    background-size: cover;
    // background-blend-mode: hard-light;
  }
  :has(.bg-dark) {
    background-blend-mode:difference;
    filter: invert(1);
  }
#baguetteBox-slider .full-image 
figcaption {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 color: black;
 background-color: transparent;
 font-family: monospace;
 font-size: 1.2rem;
 text-transform: capitalize;
 padding: 1rem;
  a {
    color: black;
  }
}