// Bagüette Lightbox
.baguetteBox-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  
  .baguetteBox-button {
    background-color: transparent;
    border-radius: 100%;
  
    &#close-button svg {
      g {
        stroke: #ffffff;
        fill: #fff !important;
        stroke-width: 6px !important;
        filter: drop-shadow(1px 1px 0px #000);
      }
    }
  
    &:hover {
      background-color: transparent;
  
      g {
        stroke: white !important;
      }
    }
  
  }
  #next-button,
  #previous-button {
    display: none;
  }
  
  #baguetteBox-overlay {
    background-color: hsl(0deg 0% 100% / 81%) !important;
  }
  