.page-title {
  display: block;
  padding-block-start: 1rem;
  padding-inline: 1rem;
  width: 8rem;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: white;
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
}

// Slider
.slide--content {
  overflow: hidden;
  /* Transición por defecto */
  transition: transform 1s ease-in-out;
  will-change: transform; /* Optimización de rendimiento */
}
.slide--content.slid-up {
  transform: translateY(-33.33%);
}
/* Horizonal: más columnas */
@media (min-aspect-ratio: 5/2) {
  .slide--content.slid-up {
    transform: translateY(-50%);
  }
}
/* Vertical: más filas */
@media (max-aspect-ratio: 3/3.2) {
  .slide--content.slid-up {
    transform: translateY(-50%);
  }
}


.slide--move-up {
  transition: all 1.5s ease-in-out;
}
.slid-up .slide--move-up {
  transform: rotate(180deg);
  transition: all 1.5s ease-in-out;
}
// Botones
.btn-pill {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ca321a;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
  height: 2rem;
  width: 2rem;
  margin: 2rem 2rem;
  border-radius: 100% 100%;
  font-size: 1rem;
  text-decoration: none;
}