.page-title {
  display: block;
  padding-block-start: 1rem;
  padding-inline: 1rem;
  width: 8rem;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: white;
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  
  .first_name {
    letter-spacing: 3.2px;
  }
}
// Slider
.slide--content {
  overflow: hidden;
  border-block: solid white 2px;
  /* Transici칩n por defecto */
  transition: transform .5s ease-in;
  will-change: transform; /* Optimizaci칩n de rendimiento */
}
.slide--content.slid-up {
  transform: translateY(-33.33%);
}
/* Horizonal: m치s columnas */
@media (min-aspect-ratio: 5/2) {
  .slide--content.slid-up {
    transform: translateY(-50%);
  }
}
/* Vertical: m치s filas */
@media (max-aspect-ratio: 3/3.2) {
  .header {
    width: 100%;

    .page-title {
      margin-inline: auto;
    }
  }
  .slide--content.slid-up {
    transform: translateY(-50%);
  }
}


.slide--move-up {
  transition: all 1.5s ease-in-out;
}
.slid-up .slide--move-up {
  transform: rotate(180deg);
  transition: all 1.5s ease-in-out;
}
// Botones
.btn-pill {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #c30e0e;
  background-color: white;
  z-index: 5;
  margin: 1rem;
  border-radius: 100% 100%;
  font-size: 1rem;
  text-decoration: none;
}

#bg-video {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: -3;
}

.grid-item-fake {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: monospace;
  padding: 1rem;
  text-align: right;

  a {
    opacity: 1;
    visibility: visible;
    position: relative;
    color: black;
    padding: 0;
    transform: rotate(-90deg);
  } 
}