@use "../vars/" as *;

.header {
  height: 4rem;
  display: flex;
  position: absolute;
  color: #fff;
  width: 100%;
  z-index: 10;

  a {
    color: white !important;
  }
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #d6d6d6;
  z-index: -2;
  font-weight: lighter;
  font-size: .8rem;
  letter-spacing: .8px;
  font-family: monospace;
  padding: 2rem;
  
  
  background-image: url("../images-footer/2.jpg");
  background-image: url("../images-footer/4.jpg");
  background-image: url("../images-footer/5.jpg");
  background-image: url("../images-footer/6.jpg");
  background-image: url("../images-footer/7.jpg");
  background-image: url("../images-footer/10.jpg");
  background-image: url("../images-footer/11.jpg");
  background-image: url("../images-footer/12.jpg");
  background-image: url("../images-footer/1.jpg");
  background-image: url("../images-footer/3.jpg");
  background-image: url("../images-footer/9.jpg");
  background-image: url("../images-footer/8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-blend-mode: hard-light;
  background-color: #393939;
  border-top: solid .2rem white;

  height: 33.33dvh;
  // transition: height 0.5s ease-in-out;
  /* Horizonal: más columnas */
  @media (min-aspect-ratio: 5/2) {
    height: 50dvh;
  }
  /* Vertical: más filas */
  @media (max-aspect-ratio: 3/3.2) {
    height: 50dvh;
  }

  h2, h3, h4 {
    font-family: $system-font;
    color: #d6d6d6;
    font-size: 1.2rem;
  }

  a {
    color: white !important;
  }
}