@use "../vars/" as *;

.header {
  height: 4rem;
  display: flex;
  position: absolute;
  color: #fff;
  width: 100%;
  z-index: 10;

  a {
    color: white !important;
  }
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #d6d6d6;
  z-index: -2;
  font-weight: lighter;
  font-size: .8rem;
  letter-spacing: .8px;
  font-family: monospace;
  padding: 2rem;

  h2, h3, h4 {
    font-family: $system-font;
    color: #d6d6d6;
    font-size: 1.2rem;
  }

  a {
    color: white !important;
  }
  p {
    background-color: rgba(0, 0, 0, .35);
    padding: .5rem;
    margin-block: 0.5rem;
    width: fit-content;
  }
  
  
  background-image: url("css/images/2.jpg");
  background-image: url("css/images/4.jpg");
  background-image: url("css/images/5.jpg");
  background-image: url("css/images/6.jpg");
  background-image: url("css/images/7.jpg");
  background-image: url("css/images/10.jpg");
  background-image: url("css/images/11.jpg");
  background-image: url("css/images/12.jpg");
  background-image: url("css/images/1.jpg");
  background-image: url("css/images/3.jpg");
  background-image: url("css/images/9.jpg");
  background-image: url("/css/images/8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-blend-mode: hard-light;
  background-color: #393939;
  border-top: solid .2rem white;

    /* Animación de latido */
    animation: heartbeat 31s infinite;

  height: 33.33dvh;
  // transition: height 0.5s ease-in-out;
  /* Horizonal: más columnas */
  @media (min-aspect-ratio: 5/2) {
    height: 50dvh;
  }
  /* Vertical: más filas */
  @media (max-aspect-ratio: 3/3.2) {
    height: 50dvh;
  }
}


/* Definición de la animación */
@keyframes heartbeat {
  0%, 100% {
    background-image: url("css/images/1.jpg");
    animation-timing-function: ease-out;
  }
  15% {
    background-image: url("css/images/3.jpg");
    animation-timing-function: ease-in;
  }
  30% {
    background-image: url("css/images/5.jpg");
  }
  45% {
    background-image: url("css/images/7.jpg");
  }
  60% {
    background-image: url("css/images/9.jpg");
    animation-timing-function: ease-out;
  }
  75% {
    background-image: url("css/images/11.jpg");
    animation-timing-function: ease-in;
  }
}