@use "../vars/" as *;

.header {
  position: absolute;
  z-index: 10;
}


.footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #d6d6d6;
  z-index: -2;
  font-weight: lighter;
  font-size: .8rem;
  letter-spacing: .8px;
  font-family: monospace;
  padding-inline: 1.4rem;
  background-color: white !important;
  width: 100%;

  h2, h3, h4 {
    font-family: $system-font;
    color: #d6d6d6;
    font-size: 1.2rem;
  }

  a {
    color: white !important;
  }
  p {
    background-color: black;
    padding: .5rem;
    margin-block: 0.2rem;
    width: fit-content;
  }
  
  height: 33.33dvh;
  // transition: height 0.5s ease-in-out;
  /* Horizonal: más columnas */
  @media (min-aspect-ratio: 5/2) {
    height: 50dvh;
  }
  /* Vertical: más filas */
  @media (max-aspect-ratio: 3/3.2) {
    height: 50dvh;
  }
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
} 
.footer-info {
  flex-basis: 50%;
  width: 100%;
  display: flex;
  align-items: end;
  flex-direction: column;
  padding-inline-end: 0.4rem;
}
.footer-info--title {
  font-size: 1.2rem;
  font-weight: bold;
} 
.footer-picture {
  background-image: url("/images/Ensayo-sobre-la-noche-portada.jpeg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  height: 29.6dvh;
  width: 100%;
  flex-basis: 50%;
  margin-block-start: .2rem;
}
.footer-links {
  color: black;

  a {
    color: black !important;
  }
}