@use "../vars/" as *;

.header {
  position: absolute;
  z-index: 10;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #d6d6d6;
  z-index: -2;
  font-weight: lighter;
  font-size: .8rem;
  letter-spacing: .8px;
  font-family: monospace;
  padding: 2rem;
  background-color: black !important;
  background-image: url("/images/bg-footer.gif");
  background-size: cover;
  background-position: bottom;

  h2, h3, h4 {
    font-family: $system-font;
    color: #d6d6d6;
    font-size: 1.2rem;
  }

  a {
    color: white !important;
  }
  p {
    background-color: rgba(0, 0, 0, .35);
    padding: .5rem;
    margin-block: 0.5rem;
    width: fit-content;
  }
  
  height: 33.33dvh;
  // transition: height 0.5s ease-in-out;
  /* Horizonal: más columnas */
  @media (min-aspect-ratio: 5/2) {
    height: 50dvh;
  }
  /* Vertical: más filas */
  @media (max-aspect-ratio: 3/3.2) {
    height: 50dvh;
  }
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.footer-info {
  flex-basis: 75%;
} 
.footer-picture {
  background-image: url("/images/Ensayo-sobre-la-noche-portada.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 25dvh;
  width: 100%;
  flex-basis: 25%;
}