@use "../vars/" as *;

.header {
  position: absolute;
  z-index: 10;
}

.book__item {
  display:flex;
  justify-content: center;
}
.book__title {
  font-size: 1rem;
  font-weight: 700;
  margin-block-end: 1rem;
  border-bottom: solid 2px #000;
  width: fit-content;
}
.book__picture {
  // background-image: url("/images/Ensayo-sobre-la-noche-portada.jpeg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  height: 20dvh;
  margin-block-start: .2rem;

  img {
    object-fit: contain;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  color: #d6d6d6;
  z-index: -2;
  padding-inline: 1.4rem;
  background-color: #fff !important;
  width: 100%;
  height: 33.33dvh;
  font-size: .8rem;

  h2, h3, h4 {
    color: #000;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    margin-block-start: 0.4rem;
    margin-block-end: 1rem;
  }

  a {
    color: white !important;
  }
  p {
  color: #000;
  padding: .5rem;
  padding-block: 0;
  }
  
  height: 33.33dvh;
  // transition: height 0.5s ease-in-out;
  /* Horizonal: más columnas */
  @media (min-aspect-ratio: 5/2) {
    height: 50dvh;
  }
  /* Vertical: más filas */
  @media (max-aspect-ratio: 3/3.2) {
    height: 50dvh;
  }
}

.footer-links {
  color: #000;
  position: absolute !important;
  bottom: 0;
  right: 0;


  a {
    color: black !important;
  }
}