<ul class="grid-container gallery slide--content">
  {% for group in collections.ensayo.slice(0, 48) | batch(4) %}
    <li class="grid-item">
      {% set photoBg = image.data.photoBg %}
      {% set photoDate = image.data.photoDate %}
      {% set title = image.data.title %}
      {% set alt = image.data.alt %}
      {% for image in group %}
      {% set largeSrc = image.data.src | replace("-300w.", "-1024w.") | replace("-small.", "-large.") %}
      {% set subfolder = image.data.imgDir | replace('./src/images/', '') | replace('./src/', '') %}
      <a 
        href="/images/{{ subfolder }}/{{ largeSrc }}" 
        class="lightbox__tag {{ subfolder }}" 
        aria-label="Gallery image {{ image.data.title }}"
        data-caption="<a href='/' rel='noopener'>{{ subfolder }}</a>{{ image.data.photoDate }}"
      >

    {% img {
      src: image.data.src,
      alt: image.data.alt,
      className: "grid-image",
      imgDir: image.data.imgDir
    } %}
  </a>
{% endfor %}
    </li>
  {% endfor %}
    <li class="grid-item grid-item-fake">
    <div class="inline-thing">Volver a la </div><a href="/" class="grid-item-fake"> exposición</a>
    </li>
</ul>