<footer class="footer">
    <div class="footer-content">
        <div class="footer-info home">
            <p>Ensayo sobre la noche</p>
            <p>&copy; {% getYear %} {{ site.author.firstName }} {{ site.author.lastName }}.</a></p>
            <ul class="footer-links">


                <li class="footer-link"><a href="{{ site.socials.github }}">Instagram</a></li>
            </ul>
        </div>
        <div class="footer-picture">
            {# {% img {
              src: "/Ensayo-sobre-la-noche-portada.jpeg",
              alt: "Foto de pie en un acantilado mirando al mar al atardecer",
              className: "footer-image",
              imgDir: "./src/images/"
            } %} #}
    </div>
</footer>