<footer class="footer">
    <div class="footer-content">
        <div class="footer-info home">
            <p>Fotógrafo enfocado a la fotografía de la naturaleza y paisajes urbanaos.</p>
            <p>&copy; {% getYear %} {{ site.author.firstName }} {{ site.author.lastName }}.</a></p>
            <ul class="footer-links">


                <li class="footer-link"><a href="{{ site.socials.github }}">Instagram</a></li>
            </ul>
        </div>
    </div>
</footer>