<ul class="grid-container">
  {% for group in collections.gallery.slice(0, 60) | batch(5) %}
    <li
      class="grid-item"
    >
      {% for image in group %}
        <a href="{{ image.url }}" aria-label="Gallery image {{ image.data.title }}">
         {% img {
          src: image.data.src,
          alt: image.data.alt,
          className: "grid-image",
          imgDir: image.data.imgDir
        } %}
        </a>
      {% endfor %}
    </li>
  {% endfor %}
</ul>