{% set navigation = collections.all | eleventyNavigation %}
<header class="header">
    <div class="intro">
        <a class="home-button" href="/">{{ site.author.firstName }} {{ site.author.lastName }}</a>
    </div>
</header>